# What is white, black and red all over?

#### Answer: European football

A full answer to the question of whether or not skin tone influences the likelihood for a player to be issued a red card would require significant work to control for the large number of potential factors. 

For this particular work, I will try to focus on a subset of the data and first answer that question. 

I could consider just very light tone skin and very dark tone skin and try to assess if there's a different rate of red cards between those groups. I would have to be careful to equally sample from the data.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('redcard.csv')

In [3]:
df.head()

,playerShort,player,club,leagueCountry,birthday,height,weight,position,games,victories,...,rater2,refNum,refCountry,Alpha_3,meanIAT,nIAT,seIAT,meanExp,nExp,seExp
0,lucas-wilchez,Lucas Wilchez,Real Zaragoza,Spain,31.08.1983,177.0,72.0,Attacking Midfielder,1,0,...,0.50,1,1,GRC,0.326391,712.0,0.000564,0.396000,750.0,0.002696
1,john-utaka,John Utaka,Montpellier HSC,France,08.01.1982,179.0,82.0,Right Winger,1,0,...,0.75,2,2,ZMB,0.203375,40.0,0.010875,-0.204082,49.0,0.061504
2,abdon-prats,Abdón Prats,RCD Mallorca,Spain,17.12.1992,181.0,79.0,NaN,1,0,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
3,pablo-mari,Pablo Marí,RCD Mallorca,Spain,31.08.1993,191.0,87.0,Center Back,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002
4,ruben-pena,Rubén Peña,Real Valladolid,Spain,18.07.1991,172.0,70.0,Right Midfielder,1,1,...,NaN,3,3,ESP,0.369894,1785.0,0.000229,0.588297,1897.0,0.001002

In [4]:
df.count()

playerShort      146028
player           146028
club             146028
leagueCountry    146028
birthday         146028
height           145765
weight           143785
position         128302
games            146028
victories        146028
ties             146028
defeats          146028
goals            146028
yellowCards      146028
yellowReds       146028
redCards         146028
photoID          124621
rater1           124621
rater2           124621
refNum           146028
refCountry       146028
Alpha_3          146027
meanIAT          145865
nIAT             145865
seIAT            145865
meanExp          145865
nExp             145865
seExp            145865
dtype: int64

In [8]:
df = df.dropna(subset=['rater1','rater2'])

In [9]:
df.count()

playerShort      124621
player           124621
club             124621
leagueCountry    124621
birthday         124621
height           124575
weight           123868
position         116160
games            124621
victories        124621
ties             124621
defeats          124621
goals            124621
yellowCards      124621
yellowReds       124621
redCards         124621
photoID          124621
rater1           124621
rater2           124621
refNum           124621
refCountry       124621
Alpha_3          124620
meanIAT          124468
nIAT             124468
seIAT            124468
meanExp          124468
nExp             124468
seExp            124468
dtype: int64

In [5]:
df2 = df[['playerShort', 'redCards']]

In [6]:
df2.head()

     playerShort  redCards
0  lucas-wilchez         0
1     john-utaka         0
2    abdon-prats         0
3     pablo-mari         0
4     ruben-pena         0